<%= stylesheet_link_tag "recipe", "data-turbo-track": "reload" %>
<section>
  <h1>Public Recipe</h1>
  <div class="recipe-container">
    <% @user.each do |user| %>
      <div class="e-foods">
        <div class="user-recipe">
          <%= user.name %>
          <% user.recipes.each do |recipe| %>
            <%= link_to recipe.name, recipe_path(recipe) %>
          <% end %>
        </div>
        <div class="price-container">
          <% @food_counts.each do |user_food_count| %>
            <% if user_food_count[0] == user.name %>
              <p> Total Food Items <%= user_food_count[1] %></p> 
              <p>Total price: $<%= @food_prices.select { |fp| fp[0] == user.name }[0][1] %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>